body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    background-repeat: no-repeat;
    font-family: sans-serif;


  }

h1{
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 5rem;
    flex-direction: row;


}

input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin-right: 4px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
div {
    text-align: center;
    font-size: 13px;
    color: gray;
}